<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="color: white;">#</th>
          <th scope="col" style="color: white;">Name</th>
          <th scope="col" style="color: white;">Email</th>
          <th scope="col" style="color: white;">Contact</th>
          <th scope="col" style="color: white;">Resume</th>
        </tr>
      </thead>
      <tbody>
        <% let i = 1 %> 
        <% const jobs = applicantData.filter(job => job.id === String(parmsidforjoblist)) %>
        <% jobs.forEach(data=>{ %> 
        <tr>
          <th scope="row" style="color: white;"><%=i %></th>
          <td style="color: white;"><%=data.name %></td>
          <td style="color: white;"><%=data.email %></td>
          <td style="color: white;"><%=data.contact %></td>
          <td>
            <a
              class="btn btn-sm btn-warning"
              href="http://localhost:3200/upload/<%=data.resume%>"
              target="_blank"
              >view</a
            >
          </td>
        </tr>
        <% i++ %>
        <% }) %>
      </tbody>
    </table>
  </div>
